.container__articles{
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header{
  margin-top: 15px;
  border: 1px solid rgb(208, 33, 33);
  display: flex;
  justify-content: center;
}
